
  html{
    height: 100%;
    width: 100%; 
    margin: 0px;
    padding: 0px;
  }
  .thapar{
    height: 120vh;
  }
  .navbar {
    display: flex;
    /* text-decoration: none; */
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top:0px;
    /* margin-left: 28%; */
    /* flex-wrap: wrap; */
    position: relative;
  }
  /* -----------------NAVIGATION BAR----------------- */
  .navbar li {
    /* flex:1; */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 63.3%;
    color: white;
    /* text-decoration: none; */
    padding-right:2%;
    padding-left:2%;
    border-radius: 25px;
    background:#2b2a2a7a;
    margin-top: 10%;
    margin-right: 5%;
    z-index: 1;
    cursor:pointer;
  }
  .navbar li:hover{
    background:#1616167a;
  }
  .navbar a {
    text-decoration: none;
    color: white;
  }
  .navbar a:hover {
    text-decoration: none;
    color: #8c8c8c;
  }
.cardwrap{
  padding-top: 5%;
  /* margin-left: 2%; */
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  grid-auto-rows: 180px;
  /* gap: 5rem; */
  column-gap: 6rem;
  justify-content: center;
  
}
.card{
	position: relative;
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 2%;
	padding: 0px;
	background-position: center;
	background-size: 100%;
	background-image: linear-gradient(55deg,#1a1a1a 20%, rgb(99, 151, 194) 40%, rgb(153, 87, 153) 60%, #1a1a1a 80%);
	width: 250px;
	height: 150px;
	border-radius: 20px;
	background-size: 100%;
	transition: 1s;
}
.content{
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	width: 240px;
	height: 140px;
	background: #2b2a2a;
	border-radius: 15px;
	color: white;
	font-family: roboto, sans-serif;
	font-size:100%;
  padding:5%;
  text-align: center;
}
.card:hover{
	background-position: center;
	background-size: 1000%;
	transition: 2s;
}
/* background */



.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height: 120vh;
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  border:0px;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}