  .thapar{
    height: 100vh;
  }
  .navbar {
    display: flex;
    /* text-decoration: none; */
    list-style-type: none;
    margin-left: 28%;
    /* flex-wrap: wrap; */
    /* position: absolute; */
  }
  /* -----------------NAVIGATION BAR----------------- */
  .navbar li {
    /* flex:1; */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 63.3%;
    color: white;
    /* text-decoration: none; */
  
    padding-top: 10%;
    margin-right: 5%;
    z-index: 1;
  }
  .navbar a {
    text-decoration: none;
    color: white;
  }
  .navbar a:hover {
    text-decoration: none;
    color: #8c8c8c;
  }